<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">
    <link rel="stylesheet" href="{% static 'css/radio.css' %}">
    <title>Answer</title>
</head>

<body>
    <!-- Main Section Start -->
    <section class="AnswerSection">
        <p class="answer">
            {% if answer == "ham" %} Not Spam {% else %} Spam {% endif %}
        </p>
        <a href="/" class="backbtn">Back</a>
    </section>
    <!-- Main Section End -->
    <script src="js/JQuery.js"></script>
    <script src="js/Bootstrap.min.js"></script>
    <script src="js/Main.js"></script>
</body>

</html>